<nav class="nav-width">
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item cur-pointer"><a class="nav-link link-secondary active ">Component and data binding</a></li>
            <li class="list-group-item cur-pointer"><a class="nav-link link-secondary">Routing</a></li>
            <li class="list-group-item cur-pointer"><a class="nav-link link-secondary">Rest CURD</a></li>
            <li class="list-group-item cur-pointer"><a class="nav-link link-secondary">react Form</a></li>
            <li class="list-group-item cur-pointer"><a class="nav-link link-secondary" routerLink="user">User</a></li>
        </ul>
    </div>
  </nav>