<!-- <nav class="nav-width card-width">
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a class="nav-link link-secondary active cur-pointer" routerLink="/">Component and data binding</a></li>
            <li class="list-group-item"><a class="nav-link link-secondary cur-pointer" routerLink="/routing">Routing</a></li>
            <li class="list-group-item"><a class="nav-link link-secondary cur-pointer">Rest CURD</a></li>
        </ul>
    </div>
</nav> -->
<app-sidebar></app-sidebar>
<router-outlet></router-outlet>
