<div class="p-5">
    <h1 class="text-center mt-2">Employee Form</h1>
    <div class="col-md-8 col-md-offset-2 col-sm-offset-1 ps-5 pe-5">
        <form *ngIf="employeeForm" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
            <div>
                <div class="form-group">
                    <label for="firstName" class="fw-bold">FirstName</label>
                    <input type="text" class="form-control" id="firstName" formControlName="firstName">

                    <span class="help-block text-danger">
                        <span *ngIf="(formControl['firstName']?.touched) && formControl['firstName'].errors?.['required']">Firstname is Required</span>
                        <!-- <span *ngIf="submitted && formControl['firstName'].errors['required']"></span> -->
                    </span>
                </div>

                <div class="form-group">
                    <label for="lastName" class="fw-bold">LastName</label>
                    <input type="text" class="form-control" id="lastName" formControlName="lastName" />

                    <span class="help-block text-danger">
                        <span *ngIf="(formControl['lastName'].touched) && formControl['lastName'].errors?.['required']">Lastname is Required</span>
                        <!-- <span>field is required</span> -->
                    </span>
                </div>

                <div class="form-group">
                    <label for="email" class="fw-bold">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email" />

                    <span class="help-block text-danger" *ngIf="(formControl['email'].touched) && formControl['email'].errors?.['required']">
                        Email is Required
                    </span>
                    <span *ngIf="formControl['email'].touched && formControl['email'].errors?.['email']" [ngClass]="{'text-danger': formControl['email'].errors?.['email']}">Please enter valid Email pattern.</span>
                </div>

                <div class="form-group">
                    <label for="phoneNo" class="fw-bold">Phone No</label>
                    <input type="phoneNo" class="form-control" id="phoneNo" formControlName="phoneNo" />

                    <span class="help-block text-danger" *ngIf="formControl['phoneNo'].touched && formControl['phoneNo'].errors?.['required']" [ngClass]="{'text-danger': formControl['phoneNo'].errors?.['required']}">
                        Please match a valid Phone No pattern
                    </span>
                </div>
            </div>

            <div >
                <label class="form-label" class="fw-bold">Gender</label>
                <div class="form-check"  *ngFor="let gender of genders">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="gender" formControlName="gender" value="{{gender}}">{{gender}}
                    </label>
                </div>
                <span *ngIf="formControl['gender'].touched && formControl['gender'].errors?.['required']" [ngClass]="{'text-danger': formControl['gender'].errors?.['required']}">
                    Field is required, please select any one
                </span>
            </div>

            <div class="form-group">
                <label for="birthdate" class="fw-bold">Date of Birth</label>
                <input type="date" class="form-control" id="birthdate" formControlName="birthdate" [ngClass]="{'border border-danger rounded text-danger':formControl['birthdate'].errors?.['required'] && formControl['birthdate'].touched}">

            </div>

            <div class="form-group">
                <label for="department" class="fw-bold">Department</label>
                <select class="form-select" formControlName="department" [ngClass]="{'border border-danger rounded':formControl['department'].errors?.['required'] && formControl['department'].touched}">
                    <option [value]="0" disabled>Select Department</option>
                    <option [value]="dept.id" *ngFor="let dept of departments">{{dept.deptname}}</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!employeeForm.valid" >Submit</button> 
            <button type="button" class="btn btn-success m-3" (click)="resetForm()">Reset</button>
        </form>
    </div>
</div>