<form action="#" (ngSubmit)="onSubmit(myform)" #myform="ngForm">
    <div>
        <label for="userName">UserName : </label>
        <input type="text" name="userName" id="userName" [(ngModel)] = "userName" required minlength="5" #name="ngModel">
        <div>
            <small *ngIf="userName">Your name is {{userName}}</small>
        </div>
        <div>
            <small *ngIf="name.errors?.['minlength']">minlength should be 5.</small>
        </div>
    </div>
    <div>
        <label for="email">Email : </label>
        <input type="email" name="email" id="email" ngModel email required #email="ngModel">
        <small style="color: red;" *ngIf="!email.valid && email.touched">Please enter valid email</small>
    </div>
    <div>
        <button type="submit" name="submit" [disabled]='!myform.valid'>Submit</button>
    </div>
</form>