<header style="background-color:rgb(240, 240, 240); opacity:0.6; color: black; margin: 2%; width: 100%;">
    <div class="header"> 
        <img style="margin-top:1%; margin-left: 0.5%;" src="../../assets/allen.svg" alt="icon of the institute" />
        <span style="margin-top:0.9%; width:10%; float:right;"><i class="fa fa-phone" style="font-size:24px; margin-bottom:1%;"></i> +1-544-5656645</span>     
        <!-- <div>
            <p>USD : {{amount | currency : 'USD'}}</p>
            <p>India : {{amount | currency : 'INR'}}</p>
            <p>UK : {{amount | currency : 'GBP'}}</p>
            <p>Australia : {{amount | currency : 'AUD'}}</p>
            <p>China : {{amount | currency : 'CNY'}}</p>
            <p>France : {{amount | currency : 'EUR'}}</p>
            <p>Today is {{today | date:'hh'}}</p>
            <p>Upppercase {{'jigar bhanusali' | titlecase}}</p>

        </div>    -->
    </div>
</header>